:root {
  --primary-color-purple: #B89EC6;
  --background-yellow: #FFFEF9;
  --background-light-purple: #F2F0F3;
  --text-color-light-gray: #707070;
  --text-color-dark-gray: #333333;
  --text-color-point-navy: #2C3E50;
  --text-color-point-gold: #D4AF37;
}

/* 폰트 불러오기 */
@font-face {
  font-family: 'Cafe24Shiningstar';
  src: url('@/assets/fonts/Cafe24ShiningstarSubset.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunNm';
  src: url('@/assets/fonts/ChosunNmSubset.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduAllB';
  src: url('@/assets/fonts/GangwonEduAllSubsetB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduAllL';
  src: url('@/assets/fonts/GangwonEduAllSubsetL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url('@/assets/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--primary-color-purple);
  overflow: hidden;
  font-family: 'NanumSquareRoundR', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-view {
  width: 100%; /* 기본적으로 가로는 100% */
  height: 100%; /* 기본적으로 세로는 100% */

  padding: 10px;

  background-color: var(--background-yellow);
  overflow-y: auto; /* 세로 스크롤 활성화 */
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

.mobile-view::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
  display: none;
}

.mobile-view:hover::-webkit-scrollbar {
  display: block; /* 호버하거나 스크롤 중일 때 표시 */
}

.mobile-view::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 스크롤바 색상 */
  border-radius: 4px; /* 둥근 모서리 */
}

.mobile-view::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* 마우스 올렸을 때 색상 */
}

.mobile-view::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 스크롤바 배경색 */
}


/* 반응형 스타일 */
@media (min-width: 480px) { /* 가로 480px 이상 (PC 또는 태블릿) */
  .mobile-view {
    width: 480px; /* PC에서는 가로 크기 고정 */
    height: calc(100vh - 30px); /* PC에서는 세로를 화면 높이에 맞추기 */
    margin: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
